.icePnlBrdrNorth, .icePnlBrdrCenter, .icePnlBrdrSouth {	
	padding: 0px;
}

.icePnlBrdrNorth {
	border-bottom: 1px solid #D9D9D9;
	text-align: left;
}

.icePnlBrdrCenter {
	background-image: url(../images/hintergrund.jpg);
	vertical-align: middle;
}

.icePnlBrdrSouth{

	background-color: none;
	vertical-align: middle;	
}

.form{
	background-color: none;
	width: 80%;
	vertical-align: middle;	
}

.Base_Login_Icon {
	background-image: url(../images/logo_klein.jpg);
	background-position: right;
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;	
}

table .leiste{
	width: 100%;
	color: #ffffff;
	}
	
.LoginBtn {
	text-align: center;
	background: url("../images/btn_shadow.png") repeat-x scroll 1px 1px
		transparent;
	border: 1px solid #AAAAAA;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	position: center;
	width: 80px;
	height: 30px;
}


.icePnlGrdCol1{width: 33%;}
.icePnlGrdCol2{width: 33%;}

.Col1{width:93%;}
.Col2{width: 3%; text-align: right;}

.buttons{
width: 28px;
text-align:center;
}

.table{
margin: auto;
margin-left: auto;
margin-right: auto;
align: center;
}

.paginator{
float: center;
text-align: center;
margin: auto;
}

.rowSelection{
color: #00BFFF;
background-color: #00BFFF;
}

.textPosition{
text-align: right;
}
	

