.panelGridMiddle{
	width: 100%;
	text-align: center;
	}

.panelPosition{
	text-align: center;
	}

.columnPopup1{
	text-align: right;
	padding-right: 20px;
	height: 50px;
	padding-left: 30px;
	}
	
.columnPopup2{
	text-align: left;
	width: 300px;
	height: 50px;
	}
	
.columnPopup2Center{
	text-align: left;
	width: 300px;
	height: 50px;
	}
	
.headerCol1{text-align: left;}

.headerCol2{text-align: right;}

.Text{
	text-align: right;
	font-size: 14px;
}

.HeadText{
	font-size: 18px;
	text-align: center;
	width: 100%;
	}

.Input{
	text-align: left;
	width: 250px;
	height: 25px;
}

.buttonCol{
	width: 120px;
	height: 30px;
}

.panelGridHeader{
	width: 100%;
	}
	
.panelGridButtons{
	width: 100%;
	}
	
.panelGridSpace1{
	height: 20px;
	}
	
.panelGridSpace2{
	height: 15px;
	}
	
.TextTitel{
	font-size: 18px;
	}
	
.Calendar{
	text-align: center;
	width: 200px;
	}	