InetJaas {
   at.inet.jaas.login.InetLoginModule required
   DataSourceJndi="java:omDS"
   SelectStmnt="SELECT FAILEDLOGINS FROM OMUSER WHERE USERNAME = ? AND PASSWORD = ?"
   UpdateStmnt="UPDATE OMUSER SET FAILEDLOGINS = ? WHERE USERNAME = ?"
   RoleStmnt="SELECT a.description_ur FROM OMuser b INNER JOIN OMuserrole a ON (a.id_userrole = b.fk_userrole) WHERE b.username = ?"
   AllowedFailedLogins="10";
};
