InetJaas {
   at.inet.jaas.login.InetLoginModule required
   DataSourceJndi="java:omDS"
   SelectStmnt="SELECT FAILEDLOGINS FROM TBL_USER WHERE USERNAME = ? AND PASSWORD = ?"
   UpdateStmnt="UPDATE TBL_USER SET FAILEDLOGINS = ? WHERE USERNAME = ?"
   RoleStmnt="SELECT a.description_ur FROM tbl_user b INNER JOIN tbl_userrole a ON (a.id_userrole = b.fk_userrole) WHERE b.username = ?"
   AllowedFailedLogins="10";
};